main {
    padding: 80px 0 30px;

    h1 {
        color: darken($primary-color-dark, 20%);
    }

    .custom_card {
        height: 100%;
        border: none;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);

        img {
            object-fit: cover;
            width: 100%;
            height: 400px;
        }

        .card-body-custom {
            background-color: lighten($primary-color, 2%);
        }

        &:hover {
            box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
            color: $white-color;
        }
    }
}

.img-box {
    height: 550px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
